[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

gunicorn = "*"
django-heroku = "*"
python-decouple = "*"
dj-database-url = "*"
whitenoise = "*"
django-widget-tweaks = "*"
markdown = "*"


[dev-packages]

